.accessories__title 
    margin-bottom: 30px

.accessories__text 
    margin-bottom: 30px
    background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%)
    -webkit-background-clip: text  
    -webkit-text-fill-color: transparent
    font-size: 36px
    text-transform: uppercase

.accessories__items 
    display: grid
    grid-template-columns: repeat(4, 1fr)

.accessories__item 
    padding: 20px
    border: 10px solid
    border-image-slice: 1
    border-width: 2px
    border-image-source: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)
    display: flex
    flex-direction: column
    justify-content: space-between
    
    &-img 
        margin-bottom: 10px

    &-title 
        font-size: 24px
        color: #070707
        min-height: 67px
        
    &-text 
        margin-bottom: 35px
        margin-top: auto

    &-price 
        font-weight: 700
        line-height: 18px
        color:#070707
        margin-bottom: 20px
        margin-top: auto
    &-button 
        padding: 6px
        font-weight: 700
        text-align: center
        width: 100%
        background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%)
        -webkit-background-clip: text  
        -webkit-text-fill-color: transparent
        border: 10px solid
        border-image-slice: 1
        border-width: 2px
        border-image-source: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%)

