* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: 1000px;
  flex-wrap: wrap;
}
.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  transition: all 2s ease;
}
.square:hover{
  transition-duration: 0s;
}
